.form{
    background-color: rgb(197, 208, 233);
    height: 50vh;
    width:50vw;
    position: relative;
    left: 200px;
    
}
.formchild {
    height: 60%;
    width: 100%;
    position: relative;
    top: 50px;
    padding-left: 100px;
}
.formcontrol {
    width:100%;
    margin: 5px;
    border-radius: 3px;
    margin-left: 5px;
    
  }
  button{
    background-color: rgb(40, 130, 203);
    border-radius: 5px;
  }

